/* COMMON */
.promotion {
  overflow-x: hidden;
}
.promotion .inner {
  width: 100vw;
  margin: 0;
}
.content-title {
  background-size: 90%;
}

/* VISUAL */
.promotion .visual {
  height: 480px;
}
.promotion .visual__title img {
  width: 450px;
}
.promotion .visual__img img {
  width: 570px;
  left: -200px;
  top: 40px;
}

/* 혜택 content-01 */
.promotion .content-01 {
  height: 550px;
}
.promotion .content-01 .scroll-text {
  top: 180px;
}
.promotion .content-01-coupon {
  display: block;
}
.promotion .content-01-coupon img{
  width: 80vw;
  margin: 0 auto 20px;
}
.promotion .content-01-txt {
  width: 90vw;
  margin: 0 auto;
}

/* 이런 셀러라면? content-02 */
.promotion .content-02 {
  height: 600px;
  background-repeat: no-repeat;
  background-position: right -180px;
}
.promotion .content-02-title {
  background-image: url('../img/content-02-title-m.png');
}
.promotion .content-02 .swiper {
  margin-top: 10px;
}
.promotion .content-02 .swiper-slide img {
  width: 80%;
}
.promotion .content-02 .swiper-pagination {
  margin-top: 20px;
}

/* 쇼핑몰 연동 content-03 */
.promotion .content-03-title {
  height: 210px;
  background-image: url('../img/content-03-title-m.png');
}
.promotion .content-03-items {
  display: block;
  margin-top: -20px;
}
.promotion .content-03-items .content-03-item-01 img,
.promotion .content-03-items .content-03-item-03 img {
  width: 320px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.promotion .content-03-items .content-03-item-02 img {
  top: 310px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  rotate: 90deg;
  width: 50px;
}
.promotion .content-03-items .content-03-item-03 img {
  top: 362px;
}

/* 스펙 content-04 */
.promotion .content-04-title {
  height: 210px;
  background-image: url('../img/content-04-title-m.png');
}